<a href="https://colab.research.google.com/github/Anum-Ilyas9/quiz/blob/main/Lab_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Quiz-2**

Perform following tasks on the provided Reviews Dataset.
* Drop words if not alphabets.
* Tokenize the sentence.
* Perform lemitization.
* Vectorize using bigram and trigram techniques.
* Apply Random Forest algorithm with 150 trees.
* Evaluate overall accuracy of the model and class-wise precision .

In [2]:
import pandas as pd

In [3]:
reviews= pd.read_csv('reviews_dataset.csv')

In [4]:
reviews.shape

(2225, 2)

In [5]:
reviews.head()

                                                news      type
0  China had role in Yukos split-up\n \n China le...  business
1  Oil rebounds from weather effect\n \n Oil pric...  business
2  Indonesia 'declines debt freeze'\n \n Indonesi...  business
3  $1m payoff for former Shell boss\n \n Shell is...  business
4  US bank in $515m SEC settlement\n \n Five Bank...  business

In [6]:
reviews['news']

0       China had role in Yukos split-up\n \n China le...
1       Oil rebounds from weather effect\n \n Oil pric...
2       Indonesia 'declines debt freeze'\n \n Indonesi...
3       $1m payoff for former Shell boss\n \n Shell is...
4       US bank in $515m SEC settlement\n \n Five Bank...
                              ...
2220    Microsoft launches its own search\n \n Microso...
2221    Warnings about junk mail deluge\n \n The amoun...
2222    Microsoft gets the blogging bug\n \n Software ...
2223    Gamers snap up new Sony PSP\n \n Gamers have b...
2224    Apple laptop is 'greatest gadget'\n \n The App...
Name: news, Length: 2225, dtype: object

In [7]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [8]:
reviews['reviews'] = reviews['news'].apply(remove_html_tags)

In [9]:
reviews['reviews'] = reviews['reviews'].apply(remove_html_tags)

In [10]:
reviews['reviews']

0       China had role in Yukos split-up\n \n China le...
1       Oil rebounds from weather effect\n \n Oil pric...
2       Indonesia 'declines debt freeze'\n \n Indonesi...
3       $1m payoff for former Shell boss\n \n Shell is...
4       US bank in $515m SEC settlement\n \n Five Bank...
                              ...
2220    Microsoft launches its own search\n \n Microso...
2221    Warnings about junk mail deluge\n \n The amoun...
2222    Microsoft gets the blogging bug\n \n Software ...
2223    Gamers snap up new Sony PSP\n \n Gamers have b...
2224    Apple laptop is 'greatest gadget'\n \n The App...
Name: reviews, Length: 2225, dtype: object

In [11]:
reviews['news']

0       China had role in Yukos split-up\n \n China le...
1       Oil rebounds from weather effect\n \n Oil pric...
2       Indonesia 'declines debt freeze'\n \n Indonesi...
3       $1m payoff for former Shell boss\n \n Shell is...
4       US bank in $515m SEC settlement\n \n Five Bank...
                              ...
2220    Microsoft launches its own search\n \n Microso...
2221    Warnings about junk mail deluge\n \n The amoun...
2222    Microsoft gets the blogging bug\n \n Software ...
2223    Gamers snap up new Sony PSP\n \n Gamers have b...
2224    Apple laptop is 'greatest gadget'\n \n The App...
Name: news, Length: 2225, dtype: object

In [12]:
reviews['reviews']

0       China had role in Yukos split-up\n \n China le...
1       Oil rebounds from weather effect\n \n Oil pric...
2       Indonesia 'declines debt freeze'\n \n Indonesi...
3       $1m payoff for former Shell boss\n \n Shell is...
4       US bank in $515m SEC settlement\n \n Five Bank...
                              ...
2220    Microsoft launches its own search\n \n Microso...
2221    Warnings about junk mail deluge\n \n The amoun...
2222    Microsoft gets the blogging bug\n \n Software ...
2223    Gamers snap up new Sony PSP\n \n Gamers have b...
2224    Apple laptop is 'greatest gadget'\n \n The App...
Name: reviews, Length: 2225, dtype: object

In [13]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

In [14]:
reviews['news'] = reviews['news'].apply(remove_url)

In [15]:
reviews['reviews'] = reviews['reviews'].apply(remove_url)

In [16]:
reviews['news']

0       China had role in Yukos split-up\n \n China le...
1       Oil rebounds from weather effect\n \n Oil pric...
2       Indonesia 'declines debt freeze'\n \n Indonesi...
3       $1m payoff for former Shell boss\n \n Shell is...
4       US bank in $515m SEC settlement\n \n Five Bank...
                              ...
2220    Microsoft launches its own search\n \n Microso...
2221    Warnings about junk mail deluge\n \n The amoun...
2222    Microsoft gets the blogging bug\n \n Software ...
2223    Gamers snap up new Sony PSP\n \n Gamers have b...
2224    Apple laptop is 'greatest gadget'\n \n The App...
Name: news, Length: 2225, dtype: object

In [17]:
reviews['reviews']

0       China had role in Yukos split-up\n \n China le...
1       Oil rebounds from weather effect\n \n Oil pric...
2       Indonesia 'declines debt freeze'\n \n Indonesi...
3       $1m payoff for former Shell boss\n \n Shell is...
4       US bank in $515m SEC settlement\n \n Five Bank...
                              ...
2220    Microsoft launches its own search\n \n Microso...
2221    Warnings about junk mail deluge\n \n The amoun...
2222    Microsoft gets the blogging bug\n \n Software ...
2223    Gamers snap up new Sony PSP\n \n Gamers have b...
2224    Apple laptop is 'greatest gadget'\n \n The App...
Name: reviews, Length: 2225, dtype: object

In [18]:
reviews

,news,type,reviews
0,China had role in Yukos split-up\n \n China le...,business,China had role in Yukos split-up\n \n China le...
1,Oil rebounds from weather effect\n \n Oil pric...,business,Oil rebounds from weather effect\n \n Oil pric...
2,Indonesia 'declines debt freeze'\n \n Indonesi...,business,Indonesia 'declines debt freeze'\n \n Indonesi...
3,$1m payoff for former Shell boss\n \n Shell is...,business,$1m payoff for former Shell boss\n \n Shell is...
4,US bank in $515m SEC settlement\n \n Five Bank...,business,US bank in $515m SEC settlement\n \n Five Bank...
...,...,...,...
2220,Microsoft launches its own search\n \n Microso...,tech,Microsoft launches its own search\n \n Microso...
2221,Warnings about junk mail deluge\n \n The amoun...,tech,Warnings about junk mail deluge\n \n The amoun...
2222,Microsoft gets the blogging bug\n \n Software ...,tech,Microsoft gets the blogging bug\n \n Software ...
2223,Gamers snap up new Sony PSP\n \n Gamers have b...,tech,Gamers snap up new Sony PSP\n \n Gamers have b...
2224,Apple laptop is 'greatest gadget'\n \n The App...,tech,Apple laptop is 'greatest gadget'\n \n The App...

In [19]:
exclude = "\!.,?"
def remove_punc(text):
    return text.translate(str.maketrans('', '', exclude))
    #return text.translate(str.maketrans('probably', 'possible'))

In [20]:
reviews['reviews'] = reviews['reviews'].apply(remove_punc)

In [21]:
reviews['news'] = reviews['news'].apply(remove_punc)

In [22]:
reviews['news']

0       China had role in Yukos split-up\n \n China le...
1       Oil rebounds from weather effect\n \n Oil pric...
2       Indonesia 'declines debt freeze'\n \n Indonesi...
3       $1m payoff for former Shell boss\n \n Shell is...
4       US bank in $515m SEC settlement\n \n Five Bank...
                              ...
2220    Microsoft launches its own search\n \n Microso...
2221    Warnings about junk mail deluge\n \n The amoun...
2222    Microsoft gets the blogging bug\n \n Software ...
2223    Gamers snap up new Sony PSP\n \n Gamers have b...
2224    Apple laptop is 'greatest gadget'\n \n The App...
Name: news, Length: 2225, dtype: object

In [23]:
reviews['reviews']

0       China had role in Yukos split-up\n \n China le...
1       Oil rebounds from weather effect\n \n Oil pric...
2       Indonesia 'declines debt freeze'\n \n Indonesi...
3       $1m payoff for former Shell boss\n \n Shell is...
4       US bank in $515m SEC settlement\n \n Five Bank...
                              ...
2220    Microsoft launches its own search\n \n Microso...
2221    Warnings about junk mail deluge\n \n The amoun...
2222    Microsoft gets the blogging bug\n \n Software ...
2223    Gamers snap up new Sony PSP\n \n Gamers have b...
2224    Apple laptop is 'greatest gadget'\n \n The App...
Name: reviews, Length: 2225, dtype: object

In [24]:
reviews

,news,type,reviews
0,China had role in Yukos split-up\n \n China le...,business,China had role in Yukos split-up\n \n China le...
1,Oil rebounds from weather effect\n \n Oil pric...,business,Oil rebounds from weather effect\n \n Oil pric...
2,Indonesia 'declines debt freeze'\n \n Indonesi...,business,Indonesia 'declines debt freeze'\n \n Indonesi...
3,$1m payoff for former Shell boss\n \n Shell is...,business,$1m payoff for former Shell boss\n \n Shell is...
4,US bank in $515m SEC settlement\n \n Five Bank...,business,US bank in $515m SEC settlement\n \n Five Bank...
...,...,...,...
2220,Microsoft launches its own search\n \n Microso...,tech,Microsoft launches its own search\n \n Microso...
2221,Warnings about junk mail deluge\n \n The amoun...,tech,Warnings about junk mail deluge\n \n The amoun...
2222,Microsoft gets the blogging bug\n \n Software ...,tech,Microsoft gets the blogging bug\n \n Software ...
2223,Gamers snap up new Sony PSP\n \n Gamers have b...,tech,Gamers snap up new Sony PSP\n \n Gamers have b...
2224,Apple laptop is 'greatest gadget'\n \n The App...,tech,Apple laptop is 'greatest gadget'\n \n The App...

In [25]:
import nltk
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize,sent_tokenize

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

In [26]:
reviews['reviews'] = reviews['reviews'].apply(word_tokenize)

In [27]:
reviews['news'] = reviews['news'].apply(word_tokenize)

In [28]:
reviews

,news,type,reviews
0,"[China, had, role, in, Yukos, split-up, China,...",business,"[China, had, role, in, Yukos, split-up, China,..."
1,"[Oil, rebounds, from, weather, effect, Oil, pr...",business,"[Oil, rebounds, from, weather, effect, Oil, pr..."
2,"[Indonesia, 'declines, debt, freeze, ', Indone...",business,"[Indonesia, 'declines, debt, freeze, ', Indone..."
3,"[$, 1m, payoff, for, former, Shell, boss, Shel...",business,"[$, 1m, payoff, for, former, Shell, boss, Shel..."
4,"[US, bank, in, $, 515m, SEC, settlement, Five,...",business,"[US, bank, in, $, 515m, SEC, settlement, Five,..."
...,...,...,...
2220,"[Microsoft, launches, its, own, search, Micros...",tech,"[Microsoft, launches, its, own, search, Micros..."
2221,"[Warnings, about, junk, mail, deluge, The, amo...",tech,"[Warnings, about, junk, mail, deluge, The, amo..."
2222,"[Microsoft, gets, the, blogging, bug, Software...",tech,"[Microsoft, gets, the, blogging, bug, Software..."
2223,"[Gamers, snap, up, new, Sony, PSP, Gamers, hav...",tech,"[Gamers, snap, up, new, Sony, PSP, Gamers, hav..."
2224,"[Apple, laptop, is, 'greatest, gadget, ', The,...",tech,"[Apple, laptop, is, 'greatest, gadget, ', The,..."

In [29]:
reviews['news'][1]

['Oil',
 'rebounds',
 'from',
 'weather',
 'effect',
 'Oil',
 'prices',
 'recovered',
 'in',
 'Asian',
 'trade',
 'on',
 'Tuesday',
 'after',
 'falling',
 'in',
 'New',
 'York',
 'on',
 'milder',
 'winter',
 'weather',
 'across',
 'the',
 'US',
 'With',
 'winter',
 'temperatures',
 'staying',
 'relatively',
 'high',
 'in',
 'the',
 'northern',
 'US',
 'a',
 'barrel',
 'of',
 'light',
 'crude',
 'ended',
 'Monday',
 'down',
 '$',
 '133',
 'to',
 '$',
 '4212',
 'However',
 'crude',
 'prices',
 'have',
 'rebounded',
 'in',
 'Asia',
 'rising',
 'to',
 '$',
 '4230',
 'a',
 'barrel',
 'for',
 'February',
 'delivery',
 'In',
 'London',
 'trading',
 'of',
 'Brent',
 'crude',
 'was',
 'suspended',
 'for',
 'a',
 'public',
 'holiday',
 'but',
 'the',
 'price',
 'fell',
 'to',
 '$',
 '3920',
 'in',
 'the',
 'Far',
 'East',
 'With',
 'milder',
 'temperatures',
 'expected',
 'to',
 'continue',
 'in',
 'the',
 'northern',
 'parts',
 'of',
 'the',
 'US',
 'over',
 'the',
 'next',
 'few',
 'days',
 'at',
 'least',
 'analysts',
 'have',
 'said',
 'the',
 'price',
 'of',
 'oil',
 'may',
 'fall',
 'further',
 '-',
 'even',
 'if',
 'the',
 'decline',
 'was',
 'only',
 'temporary',
 '``',
 'Weather',
 'has',
 'been',
 'the',
 'Achilles',
 "'",
 'heel',
 'of',
 'this',
 'market',
 "''",
 'said',
 'ABN',
 'AMRO',
 'analyst',
 'John',
 'Brady',
 '``',
 'But',
 'it',
 'is',
 'winter',
 'in',
 'the',
 'northeast',
 'Eventually',
 'we',
 "'ll",
 'get',
 'another',
 'cold',
 'blast',
 "''",
 'Despite',
 'a',
 'fall',
 'of',
 'more',
 'than',
 '$',
 '12',
 'a',
 'barrel',
 'from',
 'the',
 'record',
 'highs',
 'reached',
 'in',
 'late',
 'October',
 'the',
 'price',
 'of',
 'crude',
 'oil',
 'remains',
 'almost',
 '30',
 '%',
 'higher',
 'than',
 'year-ago',
 'levels',
 'Prices',
 'rose',
 'last',
 'week',
 'after',
 'militant',
 'attacks',
 'in',
 'Riyadh',
 'the',
 'capital',
 'of',
 'Saudi',
 'Arabia',
 'briefly',
 'renewed',
 'fears',
 'that',
 'the',
 'supply',
 'chain',
 'might',
 'be',
 'broken',
 'in',
 'the',
 'world',
 "'s",
 'leading',
 'crude',
 'exporter',
 '``',
 'The',
 'market',
 'was',
 'panicked',
 'but',
 'fears',
 'essentially',
 'evaporated',
 'since',
 'there',
 'was',
 'no',
 'follow-up',
 "''",
 'said',
 'Deborah',
 'White',
 'senior',
 'economist',
 'for',
 'energy',
 'at',
 'SG',
 'Securities',
 'in',
 'Paris']

In [30]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to /root/nltk_data...

In [31]:
lemmatizer = WordNetLemmatizer()
def lemmatize_words(tokens):
    return [lemmatizer.lemmatize(word, pos='v') for word in tokens]
    #return " ".join([lemmatizer.lemmatize(word) for word in tokens])

# Lemmatizing the tokenized words in the 'review' column
reviews['lemmatized_review'] = reviews['reviews'].apply(lemmatize_words)
reviews['lemmatized_news'] = reviews['news'].apply(lemmatize_words)

In [32]:
reviews['lemmatized_review'][1]

['Oil',
 'rebound',
 'from',
 'weather',
 'effect',
 'Oil',
 'price',
 'recover',
 'in',
 'Asian',
 'trade',
 'on',
 'Tuesday',
 'after',
 'fall',
 'in',
 'New',
 'York',
 'on',
 'milder',
 'winter',
 'weather',
 'across',
 'the',
 'US',
 'With',
 'winter',
 'temperatures',
 'stay',
 'relatively',
 'high',
 'in',
 'the',
 'northern',
 'US',
 'a',
 'barrel',
 'of',
 'light',
 'crude',
 'end',
 'Monday',
 'down',
 '$',
 '133',
 'to',
 '$',
 '4212',
 'However',
 'crude',
 'price',
 'have',
 'rebound',
 'in',
 'Asia',
 'rise',
 'to',
 '$',
 '4230',
 'a',
 'barrel',
 'for',
 'February',
 'delivery',
 'In',
 'London',
 'trade',
 'of',
 'Brent',
 'crude',
 'be',
 'suspend',
 'for',
 'a',
 'public',
 'holiday',
 'but',
 'the',
 'price',
 'fell',
 'to',
 '$',
 '3920',
 'in',
 'the',
 'Far',
 'East',
 'With',
 'milder',
 'temperatures',
 'expect',
 'to',
 'continue',
 'in',
 'the',
 'northern',
 'part',
 'of',
 'the',
 'US',
 'over',
 'the',
 'next',
 'few',
 'days',
 'at',
 'least',
 'analysts',
 'have',
 'say',
 'the',
 'price',
 'of',
 'oil',
 'may',
 'fall',
 'further',
 '-',
 'even',
 'if',
 'the',
 'decline',
 'be',
 'only',
 'temporary',
 '``',
 'Weather',
 'have',
 'be',
 'the',
 'Achilles',
 "'",
 'heel',
 'of',
 'this',
 'market',
 "''",
 'say',
 'ABN',
 'AMRO',
 'analyst',
 'John',
 'Brady',
 '``',
 'But',
 'it',
 'be',
 'winter',
 'in',
 'the',
 'northeast',
 'Eventually',
 'we',
 "'ll",
 'get',
 'another',
 'cold',
 'blast',
 "''",
 'Despite',
 'a',
 'fall',
 'of',
 'more',
 'than',
 '$',
 '12',
 'a',
 'barrel',
 'from',
 'the',
 'record',
 'highs',
 'reach',
 'in',
 'late',
 'October',
 'the',
 'price',
 'of',
 'crude',
 'oil',
 'remain',
 'almost',
 '30',
 '%',
 'higher',
 'than',
 'year-ago',
 'level',
 'Prices',
 'rise',
 'last',
 'week',
 'after',
 'militant',
 'attack',
 'in',
 'Riyadh',
 'the',
 'capital',
 'of',
 'Saudi',
 'Arabia',
 'briefly',
 'renew',
 'fear',
 'that',
 'the',
 'supply',
 'chain',
 'might',
 'be',
 'break',
 'in',
 'the',
 'world',
 "'s",
 'lead',
 'crude',
 'exporter',
 '``',
 'The',
 'market',
 'be',
 'panic',
 'but',
 'fear',
 'essentially',
 'evaporate',
 'since',
 'there',
 'be',
 'no',
 'follow-up',
 "''",
 'say',
 'Deborah',
 'White',
 'senior',
 'economist',
 'for',
 'energy',
 'at',
 'SG',
 'Securities',
 'in',
 'Paris']

In [33]:
from sklearn.preprocessing import LabelEncoder

X = reviews['reviews']
# Instead of using the tokenized 'news' column directly,
# join the tokens back into a single string for each row.
Y = reviews['news'].apply(lambda tokens: ' '.join(tokens))

print(X)
print(Y)

encoder = LabelEncoder()
Y = encoder.fit_transform(Y)

print(Y)

0       [China, had, role, in, Yukos, split-up, China,...
1       [Oil, rebounds, from, weather, effect, Oil, pr...
2       [Indonesia, 'declines, debt, freeze, ', Indone...
3       [$, 1m, payoff, for, former, Shell, boss, Shel...
4       [US, bank, in, $, 515m, SEC, settlement, Five,...
                              ...
2220    [Microsoft, launches, its, own, search, Micros...
2221    [Warnings, about, junk, mail, deluge, The, amo...
2222    [Microsoft, gets, the, blogging, bug, Software...
2223    [Gamers, snap, up, new, Sony, PSP, Gamers, hav...
2224    [Apple, laptop, is, 'greatest, gadget, ', The,...
Name: reviews, Length: 2225, dtype: object
0       China had role in Yukos split-up China lent Ru...
1       Oil rebounds from weather effect Oil prices re...
2       Indonesia 'declines debt freeze ' Indonesia no...
3       $ 1m payoff for former Shell boss Shell is to ...
4       US bank in $ 515m SEC settlement Five Bank of ...
                              ...
2220    Microsoft launches its own search Microsoft ha...
2221    Warnings about junk mail deluge The amount of ...
2222    Microsoft gets the blogging bug Software giant...
2223    Gamers snap up new Sony PSP Gamers have bought...
2224    Apple laptop is 'greatest gadget ' The Apple P...
Name: news, Length: 2225, dtype: object
[ 410 1389  956 ... 1226  747   83]

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

print(X_train.shape)
#print(X_train.head)

#print(X_train)
#print(X_test)

# Initialize the CountVectorizer
vectorizer = CountVectorizer(stop_words='english')

# Fit the vectorizer on the training data and transform it
# Fit the vectorizer on the training data and transform it
X_train_bow = vectorizer.fit_transform(X_train.apply(lambda tokens: ' '.join(tokens))) # Join tokens back into strings

# Transform the test data using the same vectorizer
X_test_bow = vectorizer.transform(X_test.apply(lambda tokens: ' '.join(tokens))) # Join tokens back into strings

# Output the shapes of the resulting Bag of Words matrices
print(f"Shape of X_train_bow: {X_train_bow.shape}")
print(f"Shape of X_test_bow: {X_test_bow.shape}")

# Applying Random Forest Classifier
rf = RandomForestClassifier()

rf.fit(X_train_bow,y_train)
y_pred = rf.predict(X_test_bow)
#accuracy_score(y_test,y_pred)

print (accuracy_score(y_test,y_pred))
print (confusion_matrix(y_test,y_pred))

(1780,)
Shape of X_train_bow: (1780, 27257)
Shape of X_test_bow: (445, 27257)
0.060674157303370786
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [35]:
cv = CountVectorizer(ngram_range=(2,2))

# Join tokens back into strings before fitting and transforming
X_train_n_gram = cv.fit_transform(X_train.apply(lambda tokens: ' '.join(tokens)))
X_test_n_gram = cv.transform(X_test.apply(lambda tokens: ' '.join(tokens)))

# Output the shapes of the resulting Bag of Words matrices
print(f"Shape of X_train_bow: {X_train_n_gram.shape}")
print(f"Shape of X_test_bow: {X_test_n_gram.shape}")

rf = RandomForestClassifier()

rf.fit(X_train_n_gram,y_train)
y_pred = rf.predict(X_test_n_gram)

print (accuracy_score(y_test,y_pred))
print (confusion_matrix(y_test,y_pred))

Shape of X_train_bow: (1780, 281929)
Shape of X_test_bow: (445, 281929)
0.060674157303370786
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [36]:
cv = CountVectorizer(ngram_range=(3,3))

# Join tokens back into strings before fitting and transforming
X_train_n_gram = cv.fit_transform(X_train.apply(lambda tokens: ' '.join(tokens)))
X_test_n_gram = cv.transform(X_test.apply(lambda tokens: ' '.join(tokens)))

# Output the shapes of the resulting Bag of Words matrices
print(f"Shape of X_train_bow: {X_train_n_gram.shape}")
print(f"Shape of X_test_bow: {X_test_n_gram.shape}")

rf = RandomForestClassifier()

rf.fit(X_train_n_gram,y_train)
y_pred = rf.predict(X_test_n_gram)

print (accuracy_score(y_test,y_pred))
print (confusion_matrix(y_test,y_pred))

Shape of X_train_bow: (1780, 509886)
Shape of X_test_bow: (445, 509886)
0.060674157303370786
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()

# Convert the lists of tokens in X_train and X_test back into strings
X_train_str = X_train.apply(lambda tokens: ' '.join(tokens))
X_test_str = X_test.apply(lambda tokens: ' '.join(tokens))

# Now fit and transform using the strings
X_train_tfidf = tfidf.fit_transform(X_train_str)
X_test_tfidf = tfidf.transform(X_test_str)

# Output the shapes of the resulting Bag of Words matrices
print(f"Shape of X_train_bow: {X_train_tfidf.shape}")
print(f"Shape of X_test_bow: {X_test_tfidf.shape}")

rf = RandomForestClassifier()

rf.fit(X_train_tfidf,y_train)
y_pred = rf.predict(X_test_tfidf)

print (accuracy_score(y_test,y_pred))
print (confusion_matrix(y_test,y_pred))

Shape of X_train_bow: (1780, 27550)
Shape of X_test_bow: (445, 27550)
0.060674157303370786
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 1 0]]